.sdIcon{
	background-image: url(icons.png)
}

.sdIcon.question{
	max-width: 16px;
	max-height: 16px;
	min-width: 16px;
	min-height: 16px;
}

.sdIcon.clickable{
	cursor: pointer;
}

.sdIconImage{
	list-style-image: url('icons.png');
}

.sdIconImage.screamer{
	max-width: 17px;
	max-height: 14px;
	-moz-image-region: rect(1px 38px 15px 21px);
}
