@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

prefwindow#fvdsd_settings_dialog
{
  min-width: 600px;
  min-height: 400px;
}

.bgPreview vbox{
  border: 1px solid #c0c0c0;
  box-shadow: 0px 0px 10px -5px #000;
  min-height: 150px;
  width: 300px;
}

.bgPreview label{
  text-shadow: 0px 0px 3px #fff;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}


groupbox caption{
  font-weight: bold;
}

.topSettingsHbox {
  min-height: 30px;
}


/* Sync */

#subPaneSync .content{
  padding: 5px;
}

#subPaneSync #syncEnableCheckbox{
  margin-bottom: 5px;
}

#subPaneSync groupbox{
  padding: 5px;
}

#subPaneSync groupbox caption{
  font-weight: bolder;
}

#subPaneSync grid row{
  padding: 3px;
}

#subPaneSync textbox.error{
  box-shadow: 0px 0px 5px 1px #FF0000;
}

#subPaneSync hbox.loading{
  background: url( chrome://fvd.speeddial/skin/fvd.toolbar.download.ad_showing.gif );
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 18px;
  min-height: 18px;
}

#subPaneSync hbox.errorText{
  visibility: hidden;
  text-align: center;
  color: red;
}

#subPaneSync hbox.errorText[appeared="1"]{
  visibility: visible;
}


#subPaneSync hbox.successText{
  visibility: hidden;
  text-align: center;
  color: green;
}

#subPaneSync hbox.successText[appeared="1"]{
  visibility: visible;
}

#syncOptionsButtons button[active="1"] hbox{
  background-color: Highlight;
  color: HighlightText; 
}

.syncAccountOnlineText label{
  margin-left: 0px;
  margin-right: 0px;
}

.syncGreenOnlineText{
  color: green;
}

.important{
  color: red;
  font-weight: bold;
}

.backupToolBlock{
  margin-top: 5px;
}

.backupToolBlock > hbox{
  margin-bottom: 5px;
}

#totalBackupedBookmarks{
  font-weight: bold;
}

.backupToolBlock .firstLine{
  background: url( chrome://fvd.sync/skin/alert.png ) left center no-repeat;
  
  padding-left: 17px;
}

tab.alert{
  list-style-image: url(chrome://fvd.sync/skin/alert_yellow.png);
}

.helpMessageContainer{
  padding: 10px;
  font-weight: bold;
}

hbox.terms label{
  margin-left: 0px;
  margin-right: 0px;
}

#usageReport{
  opacity: 0;
  -moz-transition: 200ms;
  width: 540px;
}

#usageReport button{

}

#usageReport .inBrowserContainer{
  border-top: 1px dotted #000;
  padding-top: 4px;
}

#usageReport > hbox > vbox{
  margin: 10px;
}

#usageReport > hbox > vbox:first-child{
  margin-right: 50px;
}

#usageReport .title{
  font-weight: bold;  
  font-size: 13px;
}

#usageReport .bold{
  font-weight: bold;  
}

#syncTrouble9Feb{
  margin-top: 10px;
  font-size: 14px;
}

#syncTrouble9Feb description{
  background: url( alert_big.png ) left center no-repeat;
  padding-left: 60px; 
  
  width: 300px;
}

#whyUseWebInterface{
  min-width: 420px;
  min-height: 270px;
}

#whyUseWebInterface iframe{

}

.backupHistory{

}

.backupHistory rows{
  max-height: 250px;
  overflow: auto; 
}

.backupHistory .head{
  font-weight: bold;
}

.backupHistory row{
  -moz-box-pack: start;
  -moz-box-align: center;
}

.backupHistory row:not(.head):nth-child(2n){
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.bookmarksInitialization{
  font-size: 24px;
}

.bookmarksInitialization image{
  list-style-image: url(icon_64x64.png);
}

.bookmarksInitialization .initializationProgress{
  font-size: 14px;
}


.backupsImportantText{
  margin-top: 5px;
}

.backupsImportantText  .inner{
  max-width: 500px;
}

#accountBrowserStack #accountBrowserLoading, #accountBrowserStack #accountBrowserSyncing{
  display: none;
  opacity: 0;
}

#accountBrowserLoading{
  background: url(loadingframe.png) center center no-repeat;
}

#accountBrowserSyncing{
  background: url(icon_64x64.png) center center no-repeat;
}

#accountBrowserStack[loading="1"] #accountBrowserLoading{
  display: -moz-box;
  opacity: 1;
}

#accountBrowserStack[syncing="1"] #accountBrowserSyncing{
  display: -moz-box;
  opacity: 1;
}

#accountBrowserStack[loading="1"] #accountBrowser, #accountBrowserStack[syncing="1"] #accountBrowser{
  opacity: 0.5;
}

#backupOnlineAccessLink{
  margin-left: 3px;
}

#cookiesWarning{
  margin-bottom: 5px;
  border: 1px solid #aa0000;
  padding: 5px;
}

#cookiesWarning .close{
  cursor: pointer;
  color: #888;
}

#cookiesWarning .close:hover{
  cursor: pointer;
  text-decoration: underline;
}

.warning{
  color: #bb0000;
  font-weight: bold;
}

#becomePremiumButton {
  list-style-image: url('star.png');
}

#becomePremiumButton image {
  margin-right: 5px;
}

#becomePremiumButton {
  transition: opacity 200ms ease;
  opacity: 0;
}

#openHelp {
  color: Highlight;
  cursor: pointer;
  text-decoration: underline;
}

#openHelp:hover {
  text-decoration: none;
}