dialog{
	padding: 3px;
	min-height: 250px;
	min-width: 500px;	
}

groupbox{
	max-width: 250px;
	min-height: 200px;
}

groupbox.removed grid{
	background: url(item_removed.png) center center no-repeat;	
	height: 150px;
}

groupbox.nosync grid{
	background: url(item_nosync.png) center center no-repeat;	
	height: 150px;
}


groupbox caption{
	font-weight: bold;
}

.conflict{
	color: red;
}

.italic{
	font-style: italic;
}

.desc{
	text-align: center;
	
	margin-top: 5px;
	margin-bottom: 8px;
}

.pleaseSelect{
	text-align: center;
	margin-bottom: 5px;
}

.bolderRed{
	font-weight: bold;
	color: red;
}
