#successBox{
	
	margin-top: 5px;
	
	font-size: 18px;
	color: green;
	
}

#errorBox{
	
	margin-top: 5px;
	
	font-size: 18px;
	color: red;
	
}

#unsorted-warning {
  margin-top: 10px;
  background: #ffff00;
}
