@font-face {
  font-family: "GothamMedium";
  src:  url(ms-browser-extension://MSGExtensionName_0dvfbx3dzxp3t/fonts/GothamSSm-Medium.otf) format('opentype');

}

@font-face {
  font-family: "GothamBold";
  src: url(ms-browser-extension://MSGExtensionName_0dvfbx3dzxp3t/fonts/GothamSSm-Bold.otf) format('opentype');
}

@font-face {
  font-family: "caecilia";
  src: url(ms-browser-extension://MSGExtensionName_0dvfbx3dzxp3t/fonts/caecilialtstd-roman-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* for clearly top sites */
@font-face {
  font-family: "Gotham";
  font-weight: normal;
  font-style: normal;
  src: url(ms-browser-extension://MSGExtensionName_0dvfbx3dzxp3t/fonts/GothamSSm-Book.otf) format('opentype');
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  font-style: normal;
  src: url(ms-browser-extension://MSGExtensionName_0dvfbx3dzxp3t/fonts/GothamSSm-Medium.otf) format('opentype');
}

@font-face {
  font-family: "Caecilia";
  font-weight: 700;
  font-style: normal;
  src: url(ms-browser-extension://MSGExtensionName_0dvfbx3dzxp3t/fonts/caecilialtstd-bold-webfont.woff) format('woff');
}
